## Pandas

Pandas; hızlı, güçlü, esnek ve kullanımı kolay bir açık kaynak veri analizi ve manipülasyon aracıdır. Python programlama dilinin üzerine inşa edilmiştir.

**Site:** https://pandas.pydata.org/

**User Guide:** https://pandas.pydata.org/docs/user_guide/index.html

https://pandas.pydata.org/pandas-docs/stable/

### Content
____

* Kurulum(#)
* [Pandas Option](#Pandas-Option)
* Pandas Data Structure(#)
    * Series
	* Data Frame
* Input/Output(#)
* Summarize(#)
* Selection(#)
* Add Column(#)
* Drop Column(#)
* Drop Rows(#)
* Drop Duplicates Rows(#)
* Rename Columns(#)
* Reorder Columns(#)
* Pivot Table(#)
* Columns Concatenate(#)
* Columns Cast(#)
* Feature Extraction(#)
* Index(#)
* Locate Rows(loc & iloc)(#)
* Filtering(#)
* Missing Values(#)
* Apply Function(#)
* Group By & Aggregation(#)
* Data Frame Concatenate(#)
    Concatenate(#)
    Join(#)
    Merge(#)
____

### Kurulum

In [ ]:
# !conda install pandas
# !pip install pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
print('Pandas Version:', pd.__version__)

In [ ]:
pd

In [ ]:
# dir(pd)

### Pandas Option

In [ ]:
# Pandas Options: Get, Set Describe, Reset

pd.get_option()

pd.set_option()
pd.set_option('display.float_format', '{:.2f}'.format)
pd.set_option('display.max_columns', 999)
pd.set_option('display.max_rows', 150)

pd.describe_option()

pd.reset_option()

![image info](./Garbage/pandas1.png)

**Source:** [https://storage.googleapis.com/lds-media/images/series-and-dataframe.width-1200.png](https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/)

### Series

A Series is a one-dimensional labeled array that can contain data of any type (for example, integer, string, float, or Python objects).

Seriler, her türden veri (örneğin, tamsayı, dize, kayan nokta veya Python nesneleri) içerebilen tek boyutlu etiketli bir dizidir.

In [ ]:
s1 = pd.Series(data=[1, 3, 5, np.nan, np.inf, 11, 13])
# s1 = pd.Series(data=[1, 3, 5, np.nan, np.inf, 11, 13], index=?)
s1

In [ ]:
store_name= ['A', 'B', 'C', 'D', 'E']
store_code = [100, 101, 102, 103, 104]

store_dict = dict(zip(store_code, store_name))
# store_dict = {k:v for k, v in zip(store_code, store_name)}
# https://stackoverflow.com/questions/209840/convert-two-lists-into-a-dictionary

store_dict

In [ ]:
s2 = pd.Series(data=store_name)
s2

In [ ]:
s2 = pd.Series(data=store_name, index=store_code)
s2

In [ ]:
s2 = pd.Series(data=store_dict)
s2

In [ ]:
s2[104]

### DataFrame

A DataFrame is a two-dimensional data structure, the data consists of rows and columns that you can create a in many ways, by loading a file or using a NumPy array and a date for the index.


Bir DataFrame iki boyutlu bir veri yapısıdır. Veriler, çeşitli şekillerde oluşturabileceğiniz satır ve sütunlardan oluşur. Örneğin, bir dosya yükleyebilir veya bir NumPy dizisi ve dizin için bir tarih kullanabilirsiniz. NumPy, çok boyutlu diziler ve bu diziler üzerinde çalışmak üzere geniş bir matematiksel işlev koleksiyonuna sahip matrislerle çalışmak için bir Python kütüphanesidir.

![image info](./Garbage/pandas2.png)

**Source:** [https://www.geeksforgeeks.org/python-pandas-dataframe/](https://www.geeksforgeeks.org/python-pandas-dataframe/)

![image nfo](./Garbage/pandas3.png)

**Source:** [https://pbpython.com/pandas_dtypes.html](https://pbpython.com/pandas_dtypes.html)

In [ ]:
dates = pd.date_range('20200101', periods=10, freq='D')

print(type(dates))
print(dates)

In [ ]:
numbers = np.random.randn(10, 5)

print(type(numbers))
print(numbers)

In [ ]:
# Array to DataFrame

df_data1 = pd.DataFrame(numbers, index=dates, columns=['A', 'B', 'C', 'D', 'E'])
df_data1

In [ ]:
# Dictionary to DataFrame

fruit = {'apples': [3, 2, 0, 1], 'oranges': [0, 3, 7, 2]}

print(type(fruit))
print(fruit)

In [ ]:
df_data2 = pd.DataFrame(fruit)
df_data2

In [ ]:
df_data2 = pd.DataFrame(fruit, index=['June', 'Robert', 'Lily', 'David'])

df_data2

In [ ]:
# Mixed Data Type to DataFrame

df_data3 = pd.DataFrame({
    'col_int': [1,2,3,4,5],
    'col_float': [.5, .6, .7, .8, .9],
    'col_string': ['this', 'column', 'has', 'string', 'expression'],
    'col_binary': [True, False, False, True, True]
}
)

In [ ]:
df_data3

In [ ]:
# Mixed Data Type to DataFrame

df_data4 = pd.DataFrame({'A': pd.date_range('20191225', periods=10, freq='D'),
#                          'A': pd.Timestamp('20191225'),
                         'B': 1.,
                         'C': pd.Series(1, index=list(range(10)), dtype='float32'),
                         'D': np.array([3] * 10, dtype='int32'),
                         'E': pd.Categorical(["Man", "Woman", "Man", "Woman", "Woman",
                                              "Man", "Woman", "Man", "Woman", "Woman"]),
                         'F': 'foo'})

In [ ]:
df_data4

In [ ]:
df_data5 = pd.DataFrame({'Math'     : [80, 89, 93,66, 84, 85,74,64],
                         'Science'  : [94, 76, 88, 78, 88, 92, 60, 85],
                         'English'  : [83, 76, 93, 96, 77, 85, 92, 60],
                         'History'  : [96, 66, 76, 85, 78, 88, 69, 99]})

In [ ]:
df_data5

### <center>Mock Data: Person.csv</center>

### Input/Output

**Source:**: https://pandas.pydata.org/pandas-docs/stable/reference/io.html

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_data = pd.read_csv('./Garbage/Person1_1.csv', sep=',')

In [ ]:
df_data

In [ ]:
df_data.to_csv(filename, index=False, header="true", sep=";", encoding="utf-8")

df_data.to_csv(filename, index=True, index_label="No", header="true", sep=";", encoding="utf-8")

pd.to_csv()
pd.to_excel()

### Summarize

In [ ]:
df_data.head()

df_data.head(n=10)

In [ ]:
df_data.tail()

df_data.tail(n=10)

In [ ]:
 df_data.columns

In [ ]:
df_data.index

In [ ]:
df_data.values

In [ ]:
df_data.shape

In [ ]:
df_data.ndim

In [ ]:
df_data.dtypes

In [ ]:
df_data.info()

In [ ]:
df_data.count()

In [ ]:
len(df_data)

In [ ]:
df_data['city'].unique()

In [ ]:
df_data['city'].nunique()

In [ ]:
df_data['city'].value_counts()

In [ ]:
df_data.sort_values(by='salary', ascending=False).head(n=5)

In [ ]:
df_data.describe()

In [ ]:
df_data.describe().T

# df_data['salary'].describe().T
# df_data[['salary']].describe().T

In [ ]:
df_data.describe().round(2)

In [ ]:
df_data.quantile([0.1, 0.25, 0.5, 0.75, 0.9])

In [ ]:
# mean
df_data.mean()
# df_data['salary'].mean()

In [ ]:
# standard deviation
df_data.std()
# df_data['salary'].std()

In [ ]:
# variance
df_data.var()
# df_data['salary'].var()

In [ ]:
# count
df_data.count()
# df_data['salary'].count()

In [ ]:
# median
df_data.median()
# df_data['salary'].median()

In [ ]:
# min
df_data.min()
# df_data['salary'].min()

In [ ]:
# max
df_data.max()
# df_data['salary'].max()

In [ ]:
# skewness
df_data.skew()
# df_data['salary'].skew()

In [ ]:
# kurtosis
df_data.kurt()
# df_data['salary'].kurt()

In [ ]:
# correlation
df_data.corr()

# df_data['salary'].corr()

# Pearson
df_data["MusteriBulunurluk"].corr(df_data["Adet"], method = 'pearson')

#Spearman
df_data["MusteriBulunurluk"].corr(df_data["Adet"], method="spearman")

# Notes: 
# https://stackoverflow.com/questions/22655667/dataframe-correlation-produces-nan-although-its-values-are-all-integers

In [ ]:
# correlation for many data frame or series

df_data.corrwith(df_data2)

In [ ]:
# Yuvarlama
round(number, ndigits=3)

In [ ]:
df_data.select_dtypes(include=['float64', 'int64'])

In [ ]:
df_data.select_dtypes(include=['float64', 'int64']).columns

In [ ]:
df_data.select_dtypes(include=['object'])

In [ ]:
df_data.select_dtypes(include=['object']).columns

### Selection

In [ ]:
df_data['city']

In [ ]:
df_data.city

In [ ]:
df_data[['city', 'job_title']]

In [ ]:
# subseting a column as a series
print(type(df_data['city']))

# subseting as a dataframe
print(type(df_data[['city']]))

### Add Columns

In [ ]:
df_data['Married'] = np.nan
df_data

### Drop Columns

In [ ]:
df_data.drop('Married', axis=1, inplace=True)
df_data

# df_data.drop('Married', axis="columns", inplace=True)

# df_data( columns=['col1', 'col2', 'col3'], axis='columns' )

In [ ]:
df_data['Married'] = np.nan
df_data

del df_data['Married']

In [ ]:
df_data.drop(labels=['country'], axis=1, inplace=True)

In [ ]:
df_data

### Drop Rows

In [ ]:
df_data.head()

In [ ]:
df_data.drop(labels=0, axis=0).head()

# df_data.drop(labels=0, axis=0, inplace=True)
# df_data.drop(labels=0, axis="rows", inplace=Truelabels=)

In [ ]:
# df_data.drop(labels=[0, 1, 2], axis=0).head()

# df_data.drop(labels=[0, 1, 2], axis=0, inplace=True).head()

### Drop Duplicates Rows

In [ ]:
df_data

In [ ]:
df_data.drop_duplicates()

df_data.drop_duplicates(inplace=True)
df_data

In [ ]:
df_data.reset_index(drop=True, inplace=True)

In [ ]:
df_data

### Rename Columns

In [ ]:
# df_data.rename(columns={'id':'cust_id'})

df_data.rename(columns={'id':'cust_id', 'sex':'gender'}, inplace=True)
df_data

In [ ]:
# cust_id --> id

df_data.columns = ['id', 'name', 'surname', 'gender', 'birth_date', 'city', 'job_title', 'salary']

In [ ]:
df_data

### Reorder Columns

In [ ]:
# reorder columns - pass a list as a list and index

#order we want
cols = ['id', 'name', 'surname', 'birth_date', 'gender', 'city', 'job_title', 'salary']

# overwrite the old dataframe with the same dataframe but new column order
df_data = df_data[cols]

In [ ]:
df_data.head(n=2)

### Pivot Table

In [ ]:
# pivot tables
df_data.pivot_table(index= ['city', 'gender'])

### Feature Concatenate (Merge or Combine)

In [ ]:
df_data['name'] = df_data['name'] +' '+ df_data['surname']
# df_data['name'] += ' '+ df_data['surname']

df_data.drop(['surname'], axis=1, inplace=True)

In [ ]:
df_data

### Cast & Convert

In [ ]:
# Source: https://stackoverflow.com/questions/15891038/change-data-type-of-columns-in-pandas
# Source: https://stackoverflow.com/questions/8855574/convert-ndarray-from-float64-to-integer
    
pd.to_numeric() # df['Price'] = pd.to_numeric(df['Price'])  
pd.to_datetime()
pd.to_timedelta()

s = pd.Series([1, 2, -7])
pd.to_numeric(s, downcast='integer')
pd.to_numeric(s, downcast='float')




pd.astype('int')
pd.astype('str')
pd.astype('complex')
pd.astype('category')
pd.astype('float')
pd.astype('np.float16')
  


df = df.astype({"Column 1": float, "Column 2": int})
df.astype({'col1': 'int32'}).dtypes
df = df.astype({"a": int, "b": complex})

ser = pd.Series([1, 2], dtype='int32')
ser.astype('int64')


pd.convert_dtypes()

df = pd.DataFrame(
    {
        "a": pd.Series([1, 2, 3], dtype=np.dtype("int32")),
        "b": pd.Series(["x", "y", "z"], dtype=np.dtype("O")),
        "c": pd.Series([True, False, np.nan], dtype=np.dtype("O")),
        "d": pd.Series(["h", "i", np.nan], dtype=np.dtype("O")),
        "e": pd.Series([10, np.nan, 20], dtype=np.dtype("float")),
        "f": pd.Series([np.nan, 100.5, 200], dtype=np.dtype("float")),
    }
)

df

df.dtypes

dfn = df.convert_dtypes()
dfn
dfn.dtypes

In [ ]:

for c in dfData.columns:
    col_type = dfData[c].dtype
    if col_type == 'object' or col_type.name == 'category':
        dfData[c] = dfData[c].astype('category')

In [ ]:
df_data.dtypes

In [ ]:
df_data['birth_date'].head

In [ ]:
df_data['birth_date'] = df_data['birth_date'].astype('datetime64')
# df_data['birth_date'] = df_data.astype({'birth_date': 'datetime64'})

In [ ]:
df_data.dtypes

In [ ]:
df_data['birth_date'].head()

In [ ]:
df_data['birth_date'].dt.year

In [ ]:
df_data['birth_date'].dt.month

In [ ]:
df_data['birth_date'].dt.day

### Feature Extraction

In [ ]:
# PersonAge
from datetime import datetime
year = datetime.now().year
print(year)

In [ ]:
df_data['PersonBirthYear'] = df_data['birth_date'].dt.year
df_data['PersonBirthMonth'] = df_data['birth_date'].dt.month
df_data['PersonBirthDay'] = df_data['birth_date'].dt.day

df_data['PersonAge'] = year - df_data['PersonBirthYear']
df_data

# df_data['Year'] = datetime.now().year
# df_data['PersonAge'] = df_data['Year'] - df_data['PersonBirthYear']
# df_data

In [ ]:
# df_data.drop('Year', axis=1, inplace=True)

# df_data.drop('PersonBirthYear', axis=1, inplace=True)
# df_data.drop('PersonBirthMonth', axis=1, inplace=True)
# df_data.drop('PersonBirthDay', axis=1, inplace=True)

df_data.drop(['PersonBirthYear','PersonBirthMonth','PersonBirthDay'], axis=1, inplace=True)

In [ ]:
df_data.head()

### Index

In [ ]:
df_data.index

In [ ]:
df_data.set_index('id')
df_data.set_index('id', inplace=True)

In [ ]:
df_data

In [ ]:
df_data.reset_index(inplace=True)
df_data.reset_index(drop=True, inplace=True)

In [ ]:
df_data

### Locate Rows(.loc & .iloc)

For rows, we have two options:

**.loc**: locates by name

**.iloc**: locates by numerical index

In [ ]:
df_data.set_index('id', inplace=True)
df_data

In [ ]:
df_data.loc[1000:1003]

In [ ]:
df_data.iloc[0:4]

In [ ]:
df_data.iloc[2:4, 4:6]

In [ ]:
df_data.iloc[-5:-1, 0:-1]

In [ ]:
df_data.loc[[1002,1003], ['job_title', 'salary']]

In [ ]:
df_data.loc[1000, ['name', 'gender', 'PersonAge']]

In [ ]:
df_data.loc[ [1000,1001,1002,1003], ['name', 'gender', 'PersonAge']]

In [ ]:
row_index = [1000, 1001, 1002, 1003]

col_name = ['name', 'gender', 'PersonAge']

df_data.loc[row_index, col_name]

In [ ]:
# df_data[['name', 'gender', 'PersonAge']]

df_data.iloc[0:4][['name', 'gender', 'PersonAge']]

In [ ]:
df_data.reset_index(inplace=True)
df_data

### Filtering

In [ ]:
df_data['PersonAge'] == 25

In [ ]:
df_data[ df_data['PersonAge'] == 25 ]

In [ ]:
f1 = df_data['PersonAge'] == 25

df_data[ f1 ]

In [ ]:
df_data[df_data['job_title']=='Product Engineer']

In [ ]:
df_data[['name', 'PersonAge', 'salary']][df_data['job_title']=='Product Engineer']

In [ ]:
df_data[ (df_data['city']=='Austin') & (df_data['PersonAge'] >=25) ]

In [ ]:
df_data[ ~ ((df_data['city']=='Austin') & (df_data['PersonAge'] >=25)) ]

In [ ]:
df_data[(df_data['city']=='Austin') | (df_data['PersonAge'] == 25) ]

In [ ]:
df_data[ df_data['city'].isin(['Austin','Chicago']) | (df_data['PersonAge'] == 25)]

In [ ]:
df_data.drop( df_data[ (df_data['PersonAge']>=30) & (df_data['city']=='Chicago') ].index, axis=0 )


# df_data.drop(df1[ (df_data['PersonAge']>=30) & (df_data['city']=='Chicago') ].index, axis=0, inplace=True)

# df_data = df_data( df_data['PersonAge']>=30 & df_data['city']=='Chicago')

### Missing Values

- isnull()
- isna()
- dropna()
- fillna()

In [ ]:
df1 = df_data.copy(deep=True)
df1

In [ ]:
df1.isnull().sum()

In [ ]:
df1[['name', 'gender', 'job_title', 'salary']][ (df1['salary'].isnull()) | (df1['gender'].isnull()) ]

In [ ]:
df1[df1.isnull().any(axis=1)]

In [ ]:
# Built in Function: all & any
# Iterable : list, tuple, dict, set
    
l1 = [1, 'a', '', ' ']
print("All:", all(l1))

for i in l1:
    print(bool(i), end='\t')

In [ ]:
l1 = [1, 'a', '', ' ']
print("Any:", any(l1))

for i in l1:
    print(bool(i), end='\t')

In [ ]:
df1[df1.isnull().any(axis=1)]

# def nan_records(df):
#     return df[df.isnull().any(axis=1)]
# nan_records(df_data)

In [ ]:
df1.dropna()

# df1.dropna(inplace=True)

In [ ]:
# Row Based
df1.dropna(axis=0)

# df1.dropna(axis=0, inplace=True)

In [ ]:
# Column Based
df1.dropna(axis=1)

# df1.dropna(axis=1, inplace=True)

In [ ]:
df1.fillna(value=999)

# df1.fillna(value=999, inplace=True)

In [ ]:
# df1['gender'].fillna(value = 999)
df1['gender'].fillna(value = 999, inplace=True)

In [ ]:
df1

In [ ]:
salary_mean = df1['salary'].mean()
salary_median = df1['salary'].median()

print('Average of Salary:', round(salary_mean, 2))
print('Median of Salary:', round(salary_median, 2))

In [ ]:
# df1.fillna(value = df1['salary'].mean())
df1.fillna(value = df1['salary'].mean(), inplace=True)
df1

In [ ]:
df1[df1.isnull().any(axis=1)]

In [ ]:
df1[ (df1['gender'].isna()) | (df1['salary'].isna())]

In [ ]:
df_data[['job_title','salary']].groupby('job_title').agg(['size','min', 'max', 'mean', 'median'])

In [ ]:
df_data[df_data.isnull().any(axis=1)]

In [ ]:
job_list = df_data['job_title'] [df_data.isnull().any(axis=1)].tolist()

df_data [ ( df_data['job_title']==job_list[0] )]['salary'].fillna(df_data['salary'] [ df_data['job_title']==job_list[0] ].mean())

In [ ]:
df1

### Apply Function

In [ ]:
# map, appyly, applymap

# Map: It iterates over each element of a series.
# Apply: As the name suggests, applies a function along any axis of the DataFrame.
# ApplyMap: This helps to apply a function to each element of dataframe.

# Map
# df['column1'].map(lambda x: 10 + x)
# df['column2'].map(lambda x: 'AV' + x)

# Apply()
# df[['column1', 'column2']].apply(sum)

# ApplyMap()
# func = lambda x: x+2
# df.applymap(func)

In [ ]:
df10 = df1.copy()

In [ ]:
# map()
df10['job_title'].map(lambda x: 'JOBS:' + x)

In [ ]:
def salary_raise(var, ratio=1.10):
    return var*ratio

In [ ]:
# apply()
df10['salary_increase'] = df10['salary'].apply(salary_raise)
df10

In [ ]:
df10['salary_decrease'] = df10.apply(lambda c: c['salary'] * 0.9, axis=1)
df10

In [ ]:
# applymap()

func_len = lambda x: len(str(x))

# df10.applymap()

df10[['name','job_title']].applymap(func_len)

df10[['name_len','job_title_len']] = df10[['name','job_title']].applymap(func_len)

df10.head(910)

### Group By & Aggregation

In [ ]:
df1.groupby('gender')

In [ ]:
df1.groupby('gender').size()

In [ ]:
df1.groupby('city').size()

In [ ]:
df1.groupby('city')[['salary']].mean()

In [ ]:
df1.groupby(['city','gender'])[['salary']].agg(['size', 'count', 'min', 'max', 'mean','sum','std','var'])

In [ ]:
df1.groupby('gender').describe()

In [ ]:
df1.groupby('gender').describe().T

# df_data.groupby('sex').describe().transpose()

### Concatenate
    * Concat
    * Join
    * Merge

In [ ]:
data1 = pd.DataFrame({'X1':['a', 'b', 'c'],
                      'X2':[11.432, 1.303, 99.906]},
                    index=[0,1,2])


data2 = pd.DataFrame({'X1':['a', 'b', 'd'],
                      'X3':[20.784, np.nan, 20.784]},
                    index=[0,1,3])

In [ ]:
display( data1, data2 )

In [ ]:
# Concat Row Based

display ( pd.concat([data1, data2], axis=0, ignore_index=True) )

In [ ]:
display ( pd.concat([data1, data2], axis=1, ignore_index=True) )

In [ ]:
# Merge Inner Join

display (pd.merge(data1, data2, how='inner', on='X1'))

In [ ]:
# Merge Full Outer Join

display( pd.merge(data1, data2, how='outer', on='X1') )

In [ ]:
# Merge Left Outer Join

display( pd.merge(data1, data2, how='left', on='X1') )

In [ ]:
# Merge Right Outer Join

display( pd.merge(data1, data2, how='right', on='X1') )

In [ ]:
# Concat

### Concat

In [ ]:
df1

In [ ]:
df2 = df_data = pd.read_csv('./Garbage/Person1_2.csv', sep=',')

In [ ]:
df2

In [ ]:
df1.columns

In [ ]:
df2.columns

In [ ]:
df3 = pd.concat([df1, df2], ignore_index=True)

In [ ]:
df3

## Merge

In [ ]:
p_details = pd.read_csv('./Garbage/Person1_3.csv', sep=',')
p_details

In [ ]:
# Inner Join

# df4 = pd.merge(df3, p_details, how='inner', on='id')
df4 = pd.merge(df3, p_details, how='inner', left_on="id", right_on="pid")

df4

In [ ]:
# Outer Join

# df5_1 = pd.merge(df3, p_details, how='left', on=['id'])
df5_1 = pd.merge(df3, p_details, how='left', left_on='id', right_on='pid')
df5_1

In [ ]:
# df5_2 = pd.merge(df3, p_details, how='right', on='id')
df5_2 = pd.merge(df3, p_details, how='right', left_on='id', right_on='pid')
df5_2

In [ ]:
df5_2.to_csv('./Garbage/PersonData.csv', index=False)